<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>
<body>
<div class="container">
  <div class="sidebar">
    <!-- Add your profile picture here -->
    <img src="assets/me2.jpg" alt="Profile Picture" class="profile-pic">
  </div>
  <div class="main-content">
    <h1>Katona Dávid vagyok, szoftverfejlesztő.</h1>
    <p>Szoftverfejlesztőként szeretek kreatív, csodálatos és funkcionális weboldalakat építeni.</p>
    <button class="download-cv-button">Önéletrajzom letöltéséhez kattintson a gombra</button>
  </div>
</div>
</body>
</html>
