<mat-card>
  <mat-card-content>
    <form class="example-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [(ngModel)]="model.username" name="username" required>
      </mat-form-field><br>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" [(ngModel)]="model.password" name="password" required>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-flat-button color="primary" type="submit">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
